Localization
{
	en-us
	{
		#autoLOC_ScienceRelay_TransmitAll = Transmit all data
		#autoLOC_ScienceRelay_Transmit = Transmit data to the selected vessel:\n<<1>>
		#autoLOC_ScienceRelay_Tooltip = Transfer Data To Another Vessel
		#autoLOC_ScienceRelay_Settings_MPL = Require Science Lab on Target Vessel
		#autoLOC_ScienceRelay_Settings_Relay = Require Relay Antenna on Target Vessel
		#autoLOC_ScienceRelay_Settings_Boost = Data Transmission Boost
		#autoLOC_ScienceRelay_Settings_Tooltip_Boost = Boost data transmission based on connection strength
		#autoLOC_ScienceRelay_Settings_MPLBoost = Require Crewed Science Lab For Boost
		#autoLOC_ScienceRelay_Settings_Penalty = Transmission Boost Penalty
		#autoLOC_ScienceRelay_Settings_Tooltip_Penalty = Amount by which transmission boost is reduced as compared to sending data home
		#autoLOC_ScienceRelay_Settings_Warning = Show Transmission Warnings
		#autoLOC_ScienceRelay_Settings_Tooltip_Warning = Show warnings for non-repeatable experiments
	}
	ru
	{
		#autoLOC_ScienceRelay_TransmitAll = Передать все данные
		#autoLOC_ScienceRelay_Transmit = Передать данные на выбранный аппарат:\n<<1>>
		#autoLOC_ScienceRelay_Tooltip = Передать данные на другой аппарат
		#autoLOC_ScienceRelay_Settings_MPL = Требовать лабораторию на целевом аппарате
		#autoLOC_ScienceRelay_Settings_Relay = Требовать антенну-ретранслятор на целевом аппарате
		#autoLOC_ScienceRelay_Settings_Boost = Усиление передачи данных
		#autoLOC_ScienceRelay_Settings_Tooltip_Boost = Повышать качество передачи в зависимости от силы соединения
		#autoLOC_ScienceRelay_Settings_MPLBoost = Требовать обитаемую лабораторию для усиления
		#autoLOC_ScienceRelay_Settings_Penalty = Штраф усиления передачи
		#autoLOC_ScienceRelay_Settings_Tooltip_Penalty = Значение, на которое усиление уменьшено по сравнению с передачей данных домой
		#autoLOC_ScienceRelay_Settings_Warning = Показывать предупреждения передачи
		#autoLOC_ScienceRelay_Settings_Tooltip_Warning = Показывать предупреждения для экспериментов без возможности повторения
	}
	es-es
	{
		#autoLOC_ScienceRelay_TransmitAll = Transmitir todos los datos
		#autoLOC_ScienceRelay_Transmit = Transmitir datos a la nave seleccionada:\n<<1>>
		#autoLOC_ScienceRelay_Tooltip = Transferir datos a otra nave
		#autoLOC_ScienceRelay_Settings_MPL = Requerir un Laboratoria Científico en la nave objetivo
		#autoLOC_ScienceRelay_Settings_Relay = Requerir una Relay Antena en la nave objetivo
		#autoLOC_ScienceRelay_Settings_Boost = Impulso de Transmisión de Datos
		#autoLOC_ScienceRelay_Settings_Tooltip_Boost = Impulsar transmisión de datos basado en la fuerza de la conección
		#autoLOC_ScienceRelay_Settings_MPLBoost = Requerir Laboratorio Científico Tripulado Para Impulso
		#autoLOC_ScienceRelay_Settings_Penalty = Penalidad al Impulso de Transmisión
		#autoLOC_ScienceRelay_Settings_Tooltip_Penalty = Monto por el cual el impulso de transmisión es reducido comparado a enviar datos directamente a casa
		#autoLOC_ScienceRelay_Settings_Warning = Mostrar Advertencias de Transmisión
		#autoLOC_ScienceRelay_Settings_Tooltip_Warning = Mostrar Advertencias Para Experimentos No Repetibles
	}
	zh-cn
	{
		#autoLOC_ScienceRelay_TransmitAll = 传输所有数据
		#autoLOC_ScienceRelay_Transmit = 传输数据到选中载具：\n<<1>>
		#autoLOC_ScienceRelay_Tooltip = 传输数据到其他载具
		#autoLOC_ScienceRelay_Settings_MPL = 目标载具必须拥有实验室
		#autoLOC_ScienceRelay_Settings_Relay = 目标载具必须拥有中继天线
		#autoLOC_ScienceRelay_Settings_Boost = 加速数据传输
		#autoLOC_ScienceRelay_Settings_Tooltip_Boost = 数据传输加速基于连接信号强度
		#autoLOC_ScienceRelay_Settings_MPLBoost = 需要有人的实验室来加速
		#autoLOC_ScienceRelay_Settings_Penalty = 传输加速惩罚
		#autoLOC_ScienceRelay_Settings_Tooltip_Penalty = 与普通传输相比加速传输的传输量将减小
		#autoLOC_ScienceRelay_Settings_Warning = 显示传输警告
		#autoLOC_ScienceRelay_Settings_Tooltip_Warning = 为不可重复的实验显示警告
	}
}
